<section id="form">

    <h2> {{!editar ? 'Cadastrar' : 'Alterar'}} Atleta</h2>

    <form id="form-atleta" (ngSubmit)="salvar()">

        <label for="nome">Nome Completo*</label>
        <input type="text" name="nome" id="nome" class="input01" maxlength="60" placeholder="Digite seu nome completo" [(ngModel)]="nome">


        <label for="dataNascimento"> Data* </label>
        <input type="date" name="dataNascimento" id="dataNascimento" class="input01" maxlength="60" placeholder="Digite seu data completo" [(ngModel)]="datanascimento">


        <label for="peso">Peso*</label>
        <input type="number" name="peso" id="peso" class="input02" maxlength="14" placeholder="Digite seu peso" [(ngModel)]="peso">


        <label for="sexo">Sexo</label>
        <input type="radio" name="sexo" id="sexo-m" class="radio01" required [(ngModel)]="sexo" value="M">
        Masculino
        <input type="radio" name="sexo" id="sexo-f" class="radio01" required [(ngModel)]="sexo" value="F">
        Feminino
        <input type="radio" name="sexo" id="sexo-n" class="radio01" required [(ngModel)]="sexo" value="N">
        Não declarar


        <div id="div-btns">

            <button type="submit" id="btnAdd" > {{!editar ? 'Cadastrar' : 'Alterar'}} </button>

            <button type="reset" id="btnLimpar" (click)="limparDados()" >Limpar</button>

        </div>

    </form>

</section>