<section id="form">

    <h2> {{!editar ? 'Cadastrar' : 'Alterar'}} Atleta</h2>

    <form id="form-atleta" (ngSubmit)="salvar()">

        <label for="nome">Nome Completo*</label>
        <input type="text" name="nome" id="nome" class="input01" maxlength="60" placeholder="Digite seu nome completo" [(ngModel)]="nome">


        <label for="cpf"> CPF* </label>
        <input type="number" name="cpf" id="cpf" class="input01" maxlength="60" placeholder="Digite seu data completo" [(ngModel)]="cpf">


        <label for="dataNascimento"> Data* </label>
        <input type="date" name="dataNascimento" id="dataNascimento" class="input01" maxlength="60" placeholder="Digite seu data completo" [(ngModel)]="datanascimento">


        <label for="peso">Peso*</label>
        <input type="number" name="peso" id="peso" class="input02" maxlength="14" placeholder="Digite seu peso" [(ngModel)]="peso">

        <label for="altura">Altura*</label>
        <input type="number" name="altura" id="altura" class="input02" maxlength="14" placeholder="Digite sua altura" [(ngModel)]="altura">


        <label for="sexo">Sexo</label>
        <input type="radio" name="sexo" id="sexo-m" class="radio01" required [(ngModel)]="sexo" value="M">
        Masculino
        <input type="radio" name="sexo" id="sexo-f" class="radio01" required [(ngModel)]="sexo" value="F">
        Feminino
        <input type="radio" name="sexo" id="sexo-n" class="radio01" required [(ngModel)]="sexo" value="N">
        Não declarar

        <label for="cep"> CEP* </label>
        <input type="number" name="cep" id="cep" class="input01" maxlength="60" placeholder="Digite seu data completo" [(ngModel)]="cep">


        <label for="rua_logradouro"> Rua/Logradouro* </label>
        <input type="text" name="rua_logradouro" id="rua_logradouro" class="input01" maxlength="60" placeholder="Digite seu data completo" [(ngModel)]="rua_logradouro">


        <label for="bairro"> Bairro* </label>
        <input type="text" name="bairro" id="bairro" class="input01" maxlength="60" placeholder="Digite seu data completo" [(ngModel)]="bairro">


        <label for="cidade"> Cidade* </label>
        <input type="text" name="cidade" id="cidade" class="input01" maxlength="60" placeholder="Digite seu data completo" [(ngModel)]="cidade">


        <label for="uf"> Estado* </label>
        <input type="text" name="uf" id="uf" class="input01" maxlength="60" placeholder="Digite seu data completo" [(ngModel)]="uf">

        <div id="div-btns">

            <button type="submit" id="btnAdd" > {{!editar ? 'Cadastrar' : 'Alterar'}} </button>

            <button type="reset" id="btnLimpar" (click)="limparDados()" >Limpar</button>

        </div>

    </form>

</section>