<section id="form">
    <h2> Cadastro de Atleta</h2>

    <form action="" id="form-atleta">
        
        <label for="nome"> Nome Completo* </label>
        <input type="text" name="nome" id="nome" class="input01" maxlength="60" placeholder="Digite seu nome completo">

        <label for="cpf"> CPF* </label>
        <input type="text" name="cpf" id="cpf" class="input02" maxlength="14" placeholder="Digite seu CPF">

        <label for="sexo"> Sexo </label>
        <input type="radio" name="sexo" id="sexo" class="radio01" required
        value="F"> Masculino

        <input type="radio" name="sexo" id="sexo" class="radio01" required
        value="M"> Feminino

        <input type="radio" name="sexo" id="sexo" class="radio01" required
        value="N"> Não declarar

        <label for="cep"> CEP* </label>
        <input type="text" name="cep" id="cep" class="input02" maxlength="60" placeholder="Digite seu CEP completo">

        <label for="rua-logradouro">Rua/Logradouro*</label>
        <input type="text" name="rua-logradouro" id="rua-logradouro" class="input01" maxlength="60" placeholder="Digite o nome do seu Rua/Logradouro">

        <label for="bairro">Bairro*</label>
        <input type="text" name="bairro" id="bairro" class="input02" maxlength="60" placeholder="Digite o nome do seu bairro">]

        <label for="cidade">Cidade*</label>
        <input type="text" name="cidade" id="cidade" class="input02" maxlength="60" placeholder="Digite o nome da sua cidade">

        <div id="div-btns">
            <button type="submit" id="btnAdd"> Cadastro </button>
            <button type="reset" id="btnLimpar"> Limpar </button>
        </div>
        
    </form>

</section>