<section id="form">
    <h2> Cadastro de Corrida</h2>

    <form id="form-corrida" (ngSubmit)="salvar()">
        
        <label for="descricao"> descricao* </label>
        <input type="text" name="descricao" id="descricao" class="input01" maxlength="60" placeholder="Digite seu descricao completo" [(ngModel)]="descricao">
        
        <label for="data"> Data* </label>
        <input type="date" name="data" id="data" class="input01" maxlength="60" placeholder="Digite seu data completo" [(ngModel)]="data">

        <label for="distancia"> Distancias Disponiveis* </label>
        
        <input type="radio" name="distancia" id="distancia" class="radio01" required [(ngModel)]="distancia"
        value="5"> 5km

        <input type="radio" name="distancia" id="distancia" class="radio01" required [(ngModel)]="distancia"
        value="10"> 10km

        <input type="radio" name="distancia" id="distancia" class="radio01" required [(ngModel)]="distancia"
        value="25"> 25km


        <div id="div-btns">
            <button type="submit" id="btnAdd"> {{!editar ? 'Cadastrar' : 'Alterar'}} </button>

            <button type="reset" id="btnLimpar" (click)="limparDados()" >Limpar</button>
        </div>
        
    </form>

</section>