

#cabecalho, #ul-menu, #logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

#ul-menu, #logo{
    height: 100%;

}


#cabecalho{
    width: 1000px;
    height: 150px;
    margin: 0px auto;
    padding: 25px;
    background-color: rgb(26, 26, 26);
    justify-content: space-between;
}

#logo{
    width: 30%;
    font-size: 25px;
    
}

#titulo-logo{
    
    color: var(--primary);
    border: 1px solid var(--primary-hover);
    margin: 0px 10px;
    padding: 0px 10px;
    
}

#menu{
    width: 70%;
}


#ul-menu{
    list-style: none;
    justify-content: right;
    gap: 20px;
}

.lik-menu{
    text-decoration: none;
    margin: 0px 10px;
    transition: 0.5s ease;
    font-size: 20px;

    
}

.lnk-menu:hover{
    opacity: 0.5;
    cursor: pointer;
}