
<header id="cabecalho" [class.girada]="girada">
    <div id="logo">
        Esporte <span (click)="girar()" id="titulo-logo"> ArLivre </span>
    </div>

    <nav id="menu">
        <ul id="ul-menu">

            <li><a routerLink="/Home" class="lnk-menu"> Home </a></li>
            <li><a routerLink="/Cadastro-Atleta" class="lnk-menu"> Cadastro Atleta </a></li>
            <li><a routerLink="" class="lnk-menu"> Cadastro Corridas </a></li>
            <li><a routerLink="" class="lnk-menu"> Corridas </a></li>
            <li><a routerLink="" class="lnk-menu"> Incrições </a></li>


        </ul>
    </nav>

</header>






        
