<header id="cabecalho">
    <div id="logo">
        Esporte <span (click)="girarTela.emit()" id="titulo-logo"> ArLivre </span>
    </div>

    <nav id="menu">
        <ul id="ul-menu">
            <li><a routerLink="/Home" class="lnk-menu">Home</a></li>
            <li><a routerLink="/Cadastro-Atleta" class="lnk-menu">Cadastro Atleta</a></li>
            <li><a routerLink="/Cadastro-Corrida" class="lnk-menu">Cadastro Corridas</a></li>
            <li><a routerLink="/Corridas" class="lnk-menu">Corridas</a></li>
            <li><a routerLink="/Atletas" class="lnk-menu">Atletas</a></li>
        </ul>
    </nav>
</header>