<section id="section-lista-Corrida">

  <h2>Lista Corridas</h2>

    <div class="lista-corridas">

      @for(elem of listaCorrida(); track elem.descricao_corrida) {

        <div class="corrida-card">

            <div class="corrida-header">  <h3> {{ elem.descricao_corrida }} </h3> </div>

            <div class="corrida-dados">

                <p> <strong>ID da corrida:</strong> {{ elem.idCorrida }} </p>

                <p> <strong>Descrição:</strong> {{ elem.descricao_corrida }} </p>

                <p> <strong>Data da corrida:</strong> {{ elem.data_corrida }} </p>

                <p> <strong>Distâncias disponíveis:</strong> </p>

                <ul>     
                    <li>{{ elem.distancia_5km }}</li>

                    <li>{{ elem.distancia_10km }}</li>

                    <li>{{ elem.distancia_25km }}</li>

                </ul>

                <p>   <strong>Preço:</strong> {{ elem.preco }} </p>

            </div>

              <div class="corrida-acoes"> 
                
                <button type="button" class="btn-alterar" (click)="carregaDadosCorridaForm(elem)"> Alterar </button>
                
                <button type="button" class="btn-excluir" (click)="excluir(elem.idCorrida)"> Excluir </button>

                <button type="button" class="btn-inscricao" (click)="redirecionar()" > Inscrever-se </button>

            </div>

        </div>

        } @empty {

        <div class="div-item-corrida">
            NENHUM REGISTRO NA LISTA
        </div>

    }

    </div>

</section>